#title {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
    font-size: x-large;
    font-weight: bold;

}

#game {
    border: solid 1px black;
}

#points {
    width: 290px;
    height: 10px;
    padding: 5px;
    color: greenyellow;
    background-color: black;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 7pt;
    position: relative;
    top: -257px;
    left: 165px;
    transform: rotate(90deg);
}

#controls {
    width: 300px;
    text-align: center;
}

button {
    width: 120px;
    height: 40px;
}

#startButton {
    width: 300px;
    margin-top: 12px;
    text-align: center;
}

#gameOver {
    display: none;
    width: 200px;
    height: 100px;
    font-size: small;
    font-family: Verdana, sans-serif;
    color: white;
    position: absolute;
    top: 135px;
    left: 55px;
    opacity: 0.8;
    border: solid 1px dimgray;
    background-color: gray;
}

#gameOver p {
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 33px;
}